@font-face {
  font-family: "Montserrat-medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Fraunces-bold";
  src: url("../assets/fonts/Fraunces-Bold.ttf") format("truetype");
  font-weight: 700;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  gap: 2rem;
  background-color: hsl(30, 38%, 92%);
  height: 100%;
}
body main {
  width: 100%;
  max-width: 1440px;
  min-height: calc(90vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}
@media (max-width: 767px) {
  body main {
    padding: 28px 16px;
  }
}
body footer {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  body footer {
    padding: 28px;
  }
}
body footer p {
  font-family: "Montserrat-medium";
  font-size: 12px;
  color: hsl(212, 21%, 14%);
  text-align: center;
}
body footer p a {
  color: hsl(158, 36%, 37%);
  cursor: pointer;
  text-decoration: none;
}
body footer p a:hover {
  color: #1A4032;
}

.btn {
  width: 100%;
  max-width: 236px;
  height: 48px;
  background: hsl(158, 36%, 37%);
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: "Montserrat-bold";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  background: #1A4032;
}
@media (max-width: 767px) {
  .btn {
    max-width: 295px;
    margin: 20px auto 0;
  }
}
.btn .icon-cart {
  background-image: url("../assets/icon-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 14.39px;
  height: 16px;
  display: inline-block;
  margin-right: 11.6px;
  image-rendering: auto;
}

.card {
  width: 100%;
  max-width: 600px;
  height: 450px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .card {
    max-width: 343px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.card .card-img {
  width: 50%;
  height: 450px;
  border-radius: 10px 0 0 10px;
  background-image: url("../assets/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  image-rendering: auto;
}
@media (max-width: 767px) {
  .card .card-img {
    width: 100%;
    height: 240px;
    background-image: url("../assets/image-product-mobile.jpg");
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }
}
.card .card-copy {
  width: 50%;
  padding: 32px;
  text-align: left;
  background: hsl(0, 0%, 100%);
  border-radius: 0 10px 10px 0;
}
@media (max-width: 767px) {
  .card .card-copy {
    width: 100%;
    padding: 24px;
    border-radius: 0 0 10px 10px;
  }
}
.card .card-copy h1 {
  font-family: "Montserrat-medium";
  font-size: 21px;
  line-height: 14.63px;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .card .card-copy h1 {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.card .card-copy h2 {
  font-family: "Fraunces-bold";
  font-size: 32px;
  line-height: 32px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .card .card-copy h2 {
    margin-bottom: 16px;
  }
}
.card .card-copy .product-desc {
  font-family: "Montserrat-medium";
  font-size: 14px;
  line-height: 23px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 29px;
}
@media (max-width: 767px) {
  .card .card-copy .product-desc {
    margin-bottom: 24px;
  }
}
.card .card-copy .product-price {
  font-family: "Fraunces-bold";
  font-size: 32px;
  line-height: 32px;
  color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
}
.card .card-copy .product-price span {
  font-family: "Montserrat-medium";
  font-size: 13px;
  line-height: 23px;
  color: hsl(228, 12%, 48%);
  margin-left: 19px;
  text-decoration-line: line-through;
}/*# sourceMappingURL=style.css.map */