@font-face {
    font-family: "Montserrat-medium";
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat-bold";
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Fraunces-bold";
    src: url('../assets/fonts/Fraunces-Bold.ttf') format('truetype');
    font-weight: 700;
}